// Components
@import "./components/variables";
html {
  font-size: 100%;
  box-sizing: border-box;
}

:root {
  font-size: 12px;
  font-family: $font;
  transition: var(--transition);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: $dark-des-blue;
}

// Mixins
@import "./mixins/mixins";
// Components
@import "./components/components";
