.invite {
  margin-bottom: 0.83rem;
  border-bottom: 0.8px solid $dark-grayish;
  margin-bottom: 1.2rem;

  &-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    // font-weight: 700

    &-icon {
      transition: all 0.2s ease;
    }
  }

  &-toShow {
    margin-bottom: 1rem;
    line-height: 1.45rem;
    color: $grayish-blue;
  }
}
