.wrapper {
  background: #fff;
  border-radius: 1.6rem;
  padding: 10.5rem 1.6rem;
  padding-bottom: 2.5rem;
  position: relative;
  max-width: 100%;
  min-height: 500px;
  max-height: 540px;
  height: 100%;
  @media screen and (min-width: 1000px) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 37rem 1fr;
    padding: 6rem 7rem;
    padding-right: 10rem;
    align-items: start;
    justify-content: space-between;
    background: #fff;
    height: 550px;
  }

  &-main {
    @media screen and (min-width: 1000px) {
    }
  }

  &-pattern {
    &-desktop {
      display: none;
      @media screen and (min-width: 1000px) {
        display: block;
        position: absolute;
        width: 830px;
        top: -13rem;
        bottom: 0rem;
        left: -34rem;
        height: 63rem;
        z-index: 1;
      }
    }
  }

  &-illustration {
    &-mobile {
      @media screen and (max-width: 999px) {
        position: absolute;
        top: -9rem;
        right: 0.8rem;
        left: 0;
        margin: 0 auto;
      }
      filter: drop-shadow(0px 25px 0px rgba($dark-grayish, 0.3));
      transform-origin: 0;
      // transition: 0.9s ease;
      // -moz-user-select: none;
      // -webkit-user-select: none;
      // -ms-user-select: none;
      // user-select: none;

      &:active {
        transform: translateY(8px);
      }

      @media screen and (min-width: 1000px) {
        display: none;
      }
    }

    &-desktop {
      display: none;

      @media screen and (min-width: 1000px) {
        display: block;
        position: relative;
        left: -13rem;
        width: 41rem;
        top: -15px;
        height: 31rem;
        -webkit-clip-path: inset(0 0 -30% 14.55%);
        z-index: 10;
        // filter: drop-shadow(0px 100px 0px rgba($dark-grayish, 0.3));
      }

      &-box {
        display: none;

        @media screen and (min-width: 1000px) {
          display: block;
          position: absolute;
          left: -92px;
          bottom: 160px;
          z-index: 100;
        }
      }
    }
  }

  &-title {
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 2.5rem;

    @media screen and (min-width: 1000px) {
      text-align: left;
      font-size: 3rem;
    }
  }
}
