@mixin TextMenu {
  border-bottom: 0.5px solid rgba($dark-grayish, 0.5);
  margin-bottom: 1.2rem;
  display: block;
  position: relative;
  margin-top: 2rem;

  &-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    transition: 0.5s ease;

    &-title {
      cursor: pointer;
      color: $dark-des-blue;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:hover {
        transform: translateY(-2px);
        transition: 0.3s ease;
      }
    }

    &-icon {
      transition: all 0.2s ease;
    }
  }

  &-toShow {
    margin-bottom: 1rem;
    line-height: 1.45rem;
    color: $grayish-blue;
    position: static;
    transition: all 0.7s ease;
  }
}
